<app>
    <header class="site__header">
		<div class="logo">
			Happy-CSS
		</div>
        <nav class="navigation">
            <a href="">Method</a>
			<a href="">Data</a>
            <a href="">Submission</a>
        </nav>
    </header>
    <main>
        <section class="container">
            <div class="site__title">
                <h1 class="site__title__heading">
                    <span>How to build a <strong>&lt;form&gt;</strong></span>
                </h1>
                <span class="site__title__subheading">
                    Which <code>method</code> to use, how data is sent and which <code>action</code> to take.
                </span>
            </div>
        </section>
        <section class="container">
            <form-method></form-method>
        </section>
        <section class="container"></section>
        <section class="container"></section>
        <section class="container"></section>
    </main>
    <script>
        import './form/form-method.html'
        import './form/form-data.html'
    </script>
</app>
